/*=======================================
 Common CSS
========================================*/
body {
    font-family: "Kaisei Decol", serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Oswald", sans-serif;
    line-height: 1.5em;
  }
  img {
    max-width: 100%;
   height: 0 auto;
  }
  
  /*=======================================
   Header Area Style
  ========================================*/

 
  #header_area {
    background:#2c3e50;
    padding: 15px 0;
    color:#ffffff;
    justify-content: center;
    line-height: 70px;
  }
  

   /*logo style*/
   .col-md-3 {
    text-align: left;
}

/*menu styling*/

#nav .kitbase-nav-menu ul{
    
  list-style: none;
  padding: 0;
  margin: 0;
}
.kitbase-nav-menu{
    text-align: center;
}
 
li {
    display: inline-block;
}

#nav a{
    color : #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
    transition: 0.3s;
}
#nav a:hover{
    color:#1abc9c;
}
.col-md-2 {
    text-align: right;
}
#header_area .btn{
    background: #1abc9c;
    color: #ffffff;
    padding: 10px 28px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}
#header_area .btn:hover{
    background: #16a085;
}

#header_area .col-md-9{
    text-align: right;
    display: flex;
}

#header_area .col-md-9 .kitbase-nav-menu{
   width: 80%;
}
#header_area .col-md-9 .kitbase-header-btn{
    width: 20%;
 }

/*Menu position option*/

/* left menu position */

#header_area.left_menu .row .col-md-3{
    order:2;
}
#header_area.left_menu .row .col-md-9{
    order:1;
}
#header_area.left_menu .row .kitbase-header-btn{
   display: none;
} 

/* center menu position*/


#header_area.center_menu .row .col-md-3{
    width: 100%;
    text-align: center;
}
#header_area.center_menu .row .col-md-3 img{
    height: 60px;
}
#header_area.center_menu .row .col-md-9{
    width: 100% ; 
}
#header_area.center_menu .row .col-md-9 .kitbase-nav-menu{
    width: 100% ; 
}
#header_area.center_menu .kitbase-header-btn{
    display: none;
 } 
 #header_area.center_menu{
    line-height: 50px;
 }

 /* right menu position */

 #header_area.right_menu .kitbase-header-btn{
    display: none;
 }
 #header_area.right_menu .kitbase-nav-menu{
    text-align: right;
    width: 100%;
 }